extends layout

block content
  h1= title
  p.lead Collect newest feeds
  hr
  each categoryIndex in categoryArray
    .row
    h1= categoryIndex
    hr
    each item in result
      if categoryIndex == item.categoryid
        .col-sm-6
          h2= item.rssname
          p= item.trimRssurl
          i= item.timeago
          .row
            .col-sm-1
            .text-right
              a.btn.btn-default(href='i/' + item.categoryid + '/' + item.id, role='button') View details »