extends layout

block content
  //- .card
  //-   img(class='img-fluid', src='https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%282%29.jpg', alt='Card image card')
  //-   .card-block
  //-     h4.card-title Card title
  //-     p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
  //-     a.btn.btn-primary Button
  h1= title
    //- img(src='/images/1487524680775.jpg', style='width: 200px')
  //- p.lead Collect newest feeds
  each categoryIndex in categoryArray
    .row
    h1= categoryMap[categoryIndex]
    each item in result
      if categoryIndex == item.categoryid
        //- .col-sm-6
        //-   h2= item.rssname
        //-   p= item.trimRssurl
        //-   i= item.timeago
        //-   .text-right
        //-     a.btn.btn-default(href='/i/' + item.categoryid + '/' + item.id, role='button') View details »
        .col-sm-6
          .card
            if item.thumbnail
              a(href='/i/' + item.categoryid + '/' + item.id, role='button')
                img(class='img-fluid', src=item.thumbnail, alt='Card image card')
            else
              a(href='/i/' + item.categoryid + '/' + item.id, role='button')
                img(class='img-fluid', src='/images/dog.svg', alt='Card image card')
            .card-block
              h4.card-title= item.rssname
              //- p.card-text= item.trimRssurl
              .text-right
                i= item.timeago
                //- a.btn.btn-primary(href='/i/' + item.categoryid + '/' + item.id, role='button') View details »