extends layout

block content
  h1: a(href=categoryUrl) categoryName + ' / ' + a(href=rssUrl) rssName
  p.lead Amazing~
  hr
  .row.grid
    each item in result
      .col-sm-6.grid-item
        h2= item.rssfeedtitle
        img(src=item.trimThumbnail, style='width: 100%;')
        p= item.trimRssurl
        i= item.timeago
        .row
          .col-sm-1
          .text-right
            //- a.btn.btn-default(href='/i/' + item.categoryid + '/' + item.id, role='button') View details »
            a.btn.btn-default(href=item.rssfeedurl, role='button') View details »